<div class="row">
  <div class="col-sm-offset-1 col-sm-3">
    <div style="width:100%; height:650px; background-color: lightgray;" [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }" #myBounds>
     
      
      <img src="assets/images/img_logo.gif" alt="Mountain View" class="relat"    
      ngDraggable
      (started)="onStart($event,i)"
      [trackPosition]="true"
      (stopped)="onStop($event,i)"
      [ngStyle]="{'width': img1[0].wid + 'px','transform': 'translate('+ img1[0].posx +'px, '+ img1[0].posy +'px)'}"
        style="cursor: move;"
 >
       <!-- [style.width.%]="img1[0].wid" -->
    <!-- [ngStyle] ="{'transform': 'translate(' + img1[0].posx + ', ' + img1[0].posy + ')'}" -->
    <!-- [style.transform.translateX] = "img1[0].posx" -->
    <!-- style="height:40px; cursor: move; background-color:rgb(173, 135, 201);" -->

      <!--  *ngFor="let items of data; let i = index" class="relat" ngDraggable (started)="onStart($event,i)"
      [trackPosition]="true" (stopped)="onStop($event,i)"
      
      [ngStyle]="{'width': items.wid + 'px'}"
      style="height:40px; cursor: move; background-color:rgb(173, 135, 201);"
      (edge)="checkEdge($event)" [bounds]="myBounds" [inBounds]="inBounds">
      <h5>{{ data[i].posx }}</h5>
      </div>
 -->


    </div>
  </div>
  <!-- [position] ='{x:items.posx, y:items.posy}' -->
  <!-- <div class="col-sm-7">
    <div style="width:100%; height:650px; background-color: lightgray;" 
     #myBounds1>
      
    </div>
  </div> -->
</div>

  <pre>{{ img1 | json }}</pre>

