<form #page4activityForm="ngForm" class="editForm" novalidate > 
         
    <div class="form-group text-center">
        <button class="btn btn-success btn-outline-rounded btn-info" style="width:25%" [disabled]="!page4activityForm.valid" (click)="goToNext(page4activityForm)"> A1: Identify Security Goals </button>
    </div>
   
    <div class="form-group text-center">
        <button class="btn btn-success btn-outline-rounded btn-info" style="width:25%" [disabled]="!page4activityForm.valid" (click)="goToNext(page4activityForm)"> A2: Identify Assets </button>
    </div>
   
    <div class="form-group text-center">
        <button class="btn btn-success btn-outline-rounded btn-info" style="width:25%" [disabled]="!page4activityForm.valid" (click)="goToNext(page4activityForm)"> A3: Identify Threats </button>
    </div>
   
    <div class="form-group text-center">
        <button class="btn btn-success btn-outline-rounded btn-info" style="width:25%" [disabled]="!page4activityForm.valid" (click)="goToNext(page4activityForm)"> A4: Identify Secure Network Communication </button>
    </div>
   
    <div class="form-group text-center">
        <button class="btn btn-success btn-outline-rounded btn-info" style="width:25%" [disabled]="!page4activityForm.valid" (click)="goToNext(page4activityForm)"> A5: Identify Endpoints Hardware </button>
    </div>
   
    <div class="form-group text-center">
        <button class="btn btn-success btn-outline-rounded btn-info" style="width:25%" [disabled]="!page4activityForm.valid" (click)="goToNext(page4activityForm)"> A6: Identify Sensor Communication Medium </button>
    </div>
   
    <div class="form-group text-center">
        <button class="btn btn-success btn-outline-rounded btn-info" style="width:25%" [disabled]="!page4activityForm.valid" (click)="goToNext(page4activityForm)"> A7: Perform Risk Assessment </button>
    </div>
   
    <div class="form-group text-center">
        <button class="btn btn-success btn-outline-rounded btn-info" style="width:25%" [disabled]="!page4activityForm.valid" (click)="goToNext(page4activityForm)"> A8: Elicit Security Requirements </button>
    </div>

  </form>