<section>
  <div>
      <div>
          <!-- Navigation Area (Circular Tabs) -->
          <!-- <msw-navbar></msw-navbar> -->
          <!-- End Navigation Area (Circular Tabs) -->
          <h3 class="head text-center">{{title}}</h3>
          <!-- Content Area -->
          <div class="tab-content">
              <!-- Nested view  -->
              <router-outlet></router-outlet>
          </div>
          <!-- End Content Area -->
      </div>

      <!-- For Debugging: show our valid formData -->
      <pre>{{ formData | json }}</pre>
  </div>
</section>