<form #page2Form="ngForm" class="editForm" novalidate > 
    <div class="row"> 
      
      <div class="col-sm-offset-3 col-sm-2 form-group text-center" style="margin-top:10%;" >
          <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!page2Form.valid" (click)="goToPrevious(page1Form)" > <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous </button>
      </div>
        
      <div class="col-sm-2"  style="margin-top:10%;" >
        <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!page2Form.valid" (click)="goToActivity(page2Form)"> Define Activity <span style="margin-left:10px;" class="glyphicon glyphicon-plus"></span></button>
      </div>
    
      <div class="col-sm-2" style="margin-top:10%;" >
        <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!page2Form.valid"  (click)="goToTechPage(page2Form)" > Technique <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
      </div>
    
    </div>
    </form>