<form #page1Form="ngForm" class="editForm" novalidate > 
<div class="row"> 
  
  <div class="col-sm-offset-4 col-sm-2 form-group text-center"  style="margin-top:10%; " >
    <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!page1Form.valid" (click)="goToNext(page2Form)"> Create Project <span style="margin-left:10px;" class="glyphicon glyphicon-plus"></span></button>
  </div>

  <div class="col-sm-2 form-group text-center" style="margin-top:10%" >
    <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!page1Form.valid" > Existing Project <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
  </div>

</div>
</form>